main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 auto;
    overflow: auto;
}

.firstBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.greeting {
    margin: 15px;
    font-size: 1.5em;
    text-align: center;
}

.nameInGreeting {
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

h3 {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.blockServices, .blockFeedback {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.st2 {fill:#BF9CA2;}
.st3 {fill:#FFFFFF;}
.services:hover .st2 {fill:#A63E51;}

.borderFeedback {
    border: 1px solid #A63E51;
}

.feedback {
    margin: 0 0 25px -20px;
    background-color: #ffeedd;
}

h4 {
    margin: 25px 0 0 0;
    font-weight: bold;
    font-size: 1.2em;
}

p {
    margin: 0;
    padding-top: 25px;
}

.mark {
    font-weight: bold;
}

.recall {
    padding-top: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stars {
    display: flex;
}

.btnAllFeedback {
    margin-bottom: 50px;
    padding-left: 40px;
}

#btnAllFeedback {
    padding: 10px 20px;
}
