#entrySalonBlock {
    height: 100vh;
    position: fixed;
    background-color: #A63E51;
    opacity: 0.8;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#entrySalonBlock h2, #entrySalonBlock h3, #entrySalonBlock p, #entrySalonBlock a {
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: black 0 0 2px;
}

form {
    text-align: center;
    margin: 20px 0;
}

form input {
    margin: 10px 0;
}

#btnEntrySalon {
    padding: 5px 10px;
    font-weight: bold;
}