main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 auto;
    overflow: auto;
    padding-bottom: 50px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
}

.firstBlock, .secondBlock, .covid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutAs p {
    font-size: 1.5em;
    text-indent: 50px;
}

.nameInGreeting {
    font-weight: bold;
    font-style: italic;
}

.aboutAsList {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px 0;
    font-size: 1.2em;
}

.st10 {fill:#A63E51;}
.aboutAsList svg {margin-right: 40px;}
.secondBlock, .covid {flex-direction: column;}
.covid {margin-top: 70px;}
.covid h3, .covid li {font-style: italic;}
h3 {font-weight: bold;}
