.index_1 {width: 8.33%;}
.index_2 {width: 16.66%;}
.index_3 {width: 25%;}
.index_4 {width: 33.33%;}
.index_5 {width: 41.66%;}
.index_6 {width: 50%;}
.index_7 {width: 58.33%;}
.index_8 {width: 66.66%;}
.index_9 {width: 75%;}
.index_10 {width: 83.33%;}
.index_11 {width: 91.66%;}
.index_12 {width: 100%;}